[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
numpy = "*"
requests = "*"
screeninfo = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
